.user-list-container {
    margin: 20px;
    direction: rtl;
    text-align: right;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    direction: rtl;
    text-align: right;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  input[type="checkbox"] {
    
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
  }
  
  button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d32f2f;
  }