 
form {
    display: flex;
    direction: rtl;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    margin-top: 5px; /* Adjust the spacing between label and input */
    width: 100%; /* Make inputs the same length */
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  