.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    width: 87%;
  }
  
  .game-card {
    width: 17rem;
    direction: rtl;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .game-card img {
    height: 250px;
  }
  
  .game-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .game-details {
    margin-top: 10px;
  }
  
  .game-details-item {
    margin-bottom: 5px;
  }
  
  .game-edit-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .game-contact-link {
    color: green;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .filter-section {
    position: absolute;
    top: calc(4px + 50px);
    right: 0;
    height: calc(100% - 60px); 
    width: 15%;
    background-color: white;
  }
  
  .head {
    text-align: center;
    padding: 1rem;
    color: red;
    
  }
  
  .filter-section input{
    direction: rtl;
    position: absolute;
    right: 1rem;
  }
  
  .filter-section select {
    position: absolute;
    right: 1rem;
  }
  
  .hbg {
    width: 100%;
    height: 94.2vh;
    background-repeat: no-repeat;
    background-position: center top 17%; /* Adjusted to center the image vertically at 20% from the bottom */
    background-size: cover;
  }

  .game-list.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 100px;
  }