
  .hbg {
    width: 100%;
    height: 94.2vh;
    background-repeat: no-repeat;
    background-position: center top 17%; /* Adjusted to center the image vertically at 20% from the bottom */
    background-size: cover;
  }
